:root {
    /*Propriedades em formato de variaveis*/
    --title-color: #322153;
    --primary-color: #34cb79;
}
* {
    margin: 0;
    padding:0;
}
html {
    font-family: 'Roboto', sans-serif;
}

body {
    background: #f0fff5;
    -webkit-font-smoothing: antialiased;
}

/* Box Model
Toda caixa tem largura, altura, espaçamentos, preenchimentos,
bordas, cor, fundo, maneira que é vista pelo html (display)

*/
a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Ubuntu', sans-serif; ;
    color: var(--title-color);
}