@media (max-width:900px){
    /*Regras especificas para tela menor que 900px*/
    #page-home {
        background-position-x:70vw;
    }
    #page-home .content {
        align-items: center;
        text-align:center;
    }

    #page-home  header a {
        position: absolute;
        bottom:48px;
        left:50%;
        transform: translateX(-50%);/*Modifica eixo x*/
    } 
    #page-home main {
        align-items: center;
    }
    /*Muda posição do grid para uma coluna quando tela menor que 900px*/
    #page-search-results .cards {
        grid-template-columns: 1fr;
    }
}
/*Quando tamanho for maior do que esse*/
@media (min-width:1700px) {
    #page-home {
        background-position-x:40vw;
    }
}

@media (max-height:760px) {
    #page-home {
        background-position-y:200px;
    }
}